.swiperr{
  height: 75vh;
}

.slider{
  font-family: 'inter', sans-serif;
  background: url("../../../../public/images/Main/elevator.png") no-repeat;
  background-size: cover; 
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
}
.slider2{
  font-family: 'inter', sans-serif;
  background: url("../../../../public/images/Main/zavod.png") no-repeat;
  background-size: cover; 
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
}
.inner {
  position: absolute; 
  bottom: 0; 
  left: 0;

}

.info {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;

  padding: 20px;

  @media screen and (max-width: 960px) {
    width: 85%;
  }
  @media screen and (max-width: 825px) {
    width: 85%;
  }
  @media screen and (max-width: 560px) {
    width: 100%;
    padding: 0;
  }
}

.title {
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: #FFFFFF;
  padding: 40px 40px 60px 40px;

  b {
    color: #5382DF;
  }
  @media screen and (max-width: 700px) {
    font-size: 32px;
  }
  @media screen and (max-width: 560px) {
    font-size: 28px;
  }
}