

.bodyWrapper{
    width: 1400px;
    display: flex;
    margin: auto;
    @media screen and (max-width: 1230px) {
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.wrapper{
    font-family: 'Inter', sans-serif;
    padding: 40px 0 20px 0;
    position: relative;
    font-size: 16px;
    width: 60%;
    font-weight: 300;
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    @media screen and (max-width: 1230px) {
        width: auto;
    }
}


.title{
    width: 298px;
    font-size: 40px;
    font-weight: 700;
    color: #5382DF;
    gap: 5px;
    margin-bottom: 20px;
    border-bottom: 5px solid #5382DF;
    @media screen and (max-width: 445px) {
        font-size: 24px;
        width: 230px;
    }

}



.subTittle{
    font-size: 32px;
    font-weight: 600;
    width: 60%;
    margin-bottom: 20px;
    color: #5382DF;

}
.description{
    padding: 1px 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.button{
    background-color: #5382DF;
    width: 200px;
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    color: white;
    font-size: 24px;
    font-weight: 200;
    border: 2px solid #5382DF;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: #5e8eec; 
      }
}



.slider{
    overflow: hidden;
    padding: 30px 0 60px 0;
    width: 100%;
    margin: auto;
}
.photoText {
    font-family: 'Inter', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0); 
    padding: 30px 10px; 
    margin: 10px;
    font-size: 24px; 
    font-weight: 700;
}

.photoTittle{
    font-size: 16px;
    font-weight: 500;
}

