.container {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;

}

.textBlocks {
    width: 30%;
    margin-right: 20px;
}

.textBlock {
    margin-bottom: 20px;
}

.swiperr {
    height: 70vh;
    width: 30%;
    padding: 20px;
}

.slider {
    font-family: 'inter', sans-serif;
    background: url("../../../../public/images/Lifts/lift-example.png") no-repeat;
    background-size: cover; /* Растягиваем изображение на всю высоту контейнера */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; /* Изменяем высоту контейнера слайда */
}




.inner {
    position: absolute;
    bottom: 0;
    left: 0;
}
.titlee{
    width: 290px;
    font-size: 40px;
    font-weight: 700;
    color: #5382DF;
    gap: 5px;
    margin-bottom: 20px;
    border-bottom: 5px solid #5382DF;
    @media screen and (max-width: 445px) {
        font-size: 24px;
        width: 230px;
    }

}

.descriptionn{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.buttonn{
    background-color: #5382DF;
    width: 200px;
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    color: white;
    font-size: 24px;
    font-weight: 200;
    border: 2px solid #5382DF;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: #5e8eec; 
      }
}
.info {
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    @media screen and (max-width: 960px) {
        width: 85%;
    }

    @media screen and (max-width: 825px) {
        width: 85%;
    }

    @media screen and (max-width: 560px) {
        width: 100%;
        padding: 0;
    }
}

.title {
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: black;
    padding: 10px;

    b {
        color: #5382df;
    }

    @media screen and (max-width: 700px) {
        font-size: 32px;
    }

    @media screen and (max-width: 560px) {
        font-size: 28px;
    }
}
