

.bodyWrapper{
    width: 100%;
    display: flex;
    margin: 40px auto;
    background-color: rgb(230,230,230);
    @media screen and (max-width: 1230px) {
        flex-direction: column;
        flex-wrap: wrap;

    }
}
.wrapper{
    font-family: 'Inter', sans-serif;
    padding: 40px 20px;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    width: 60%;
    margin: 0 auto;
    flex-direction: column;

    @media screen and (max-width: 1230px) {
        width: auto;
    }
}





.title{
    width: auto;
    padding: 0 0 10px 0;
    font-size: 40px;
    font-weight: 700;
    color: #5382DF;
    gap: 5px;

    @media screen and (max-width: 1230px) {
        width: 710px;
    }

    @media screen and (max-width: 830px) {
        width: 570px;
        font-size: 32px;
    }
    @media screen and (max-width: 690px) {
        width: auto;
    }

    @media screen and (max-width: 445px) {
        width: 230px;
    }

}




.description, .subtittle{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.subtittle{
    padding: 30px 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.images{
    width: 40%;
    padding: 20px;
    display: flex;
    @media screen and (max-width: 1230px) {
       margin: auto;
       width: auto;
    } 
}


.images img {
    margin: 0 auto;
    width: 250px; 
    height: auto;
    @media screen and (max-width: 580px) {
       
    } 
}
