
.wrapper{
  background: url("../../../../public/images/Products/main-products.png") no-repeat;
  font-family: 'inter', sans-serif;
  background-size: cover;
  height: 450px;
  display: flex;
  width: 100%;
  font-size: 16px;
  color: white;
}

.inner{
  height: 600px;
  display: flex;
  justify-content: space-between;
  padding: 250px 0;
  margin: 0 auto;
  text-align: center;
}



.title{
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;


  color: #FFFFFF;


}



