.accordion{

    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Добавляем тень: смещение по горизонтали, смещение по вертикали, размытие, цвет */
    width: 500px;
    @media screen and (max-width: 600px) {
        width: 400px
    }
    @media screen and (max-width: 500px) {
        width: 350px
    }
    height: fit-content;


    .main{
        display: flex;
    }
    .title{
        display: flex;
        color: rgb(82, 82, 82);
    }

    .plus{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: auto;
        display: flex;
        color: white;
        justify-content: center;
        justify-items: end;
        background-color: #5382DF;
        display: flex;
        font-size: 30px;
        transition: 0.4s;
        resize: none;
        cursor: pointer;
    }
    .plus:hover{
        background-color: #5c87df;
    }
    .description{
        color: rgb(0, 0, 0);
        max-height: 0;
        font-size: 18px;
        overflow: hidden;
        transition: all ease-in-out .5s;
    }
    .descriptionOpen{
        max-height: 1000px;
        margin-top: 20px;
        display: block;
    }
}