.headerWrapper{
  padding: 0 40px;
  color: #FFF;
  height: 100px;
  display: flex;
  position: fixed;
  z-index: 999;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
}

.scrolled{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
}

.inner{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.logo{
  display: flex;
  gap: 10px;
  align-items: center;
  img{
    width: 87px;
    height: auto;
  }
  .newLogo{
    width: 80px;
  }
  @media screen and (max-width: 220px) {
    img{
      width: 60px;
      height: auto;
    }
  }
}


.headerItems{
  display: flex;
  gap: 25px;
  align-items: center;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}



.headerItem{
  cursor: pointer;
  padding: 0 5px;
  height: 100%;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  transition: color 0.3s ease;
  &:hover{
    color: #5382DF;
  }

  @media screen and (max-width:800px) {
    font-size: 16px;
    padding: 0 4px;
  }
}


.burger {
  height: 50px;
  width: 50px;
  z-index: 50;
  align-items: right;
  cursor: pointer;
  display: none;
  @media screen and (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .burger_bar {
          width: 40px;
          height: 3px;
          background-color: white;
          transition: all 0.3s ease;
      }
  }
}
