
.bodyWrapper{
    background-color: #5382DF;
    width: 100%;
    display: flex;
    @media screen and (max-width: 1230px) {
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.wrapper{
    color: #5382DF;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    padding: 20px 60px;
    position: relative;
    width: 60%;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    margin: 90px auto;
    flex-direction: column;

    @media screen and (max-width: 1230px) {
        padding: 10px 30px;
        width: auto;
    }
}

.tittle{
    text-align: center;
    margin: 0 auto;
    @media screen and (max-width: 650px) {
        font-size: 24px;
    }
}

.form {
    font-size: 18px;
    padding: 15px 20px;
    margin: 10px;
    background-color: #E9E9E9 ;
    @media screen and (max-width: 650px) {
    padding: 5px 10px;
    margin: 5px;
    }
}


.bigform {
    font-size: 18px;
    padding: 5px 10px;
    margin: 10px;
    background-color: #E9E9E9 ;
    @media screen and (max-width: 650px) {
        padding: 5px 10px;
        margin: 5px;
        }
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none; 
    background-color: #E9E9E9 ;
    outline: none; 
  }

    .button{
        text-align: center;
        margin: 20px auto;
        padding: 10px;
        width: 300px;
        font-size: 18px;
        color: white; 
        font-weight: 300;
        background-color: #5382DF;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
            background-color: #5d93ff;
        }
    }





