
.wrapper{
  background-color: #5382DF;
  background-size: cover;
  height: auto;
  display: flex;
  width: 100%;
  @media screen and (max-width: 960px) {
    margin: 0 auto;
  }
}

.bodywrapper {
  
  align-items: center;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}



.inner{
  margin: auto;
  padding: 20px 40px;
  text-align: center;
  @media screen and (max-width: 1148px) {
    padding: 10px;
  }
  @media screen and (max-width: 960px) {
    padding: 20px;
  }
}


.inner img {
  width: 240px;
  transition: transform 0.3s ease;
}

.inner:hover img {
  transform: scale(1.1); 
}




