

.bodyWrapper{
    width: 100%;
    display: flex;

}
.wrapper{
    font-family: 'Inter', sans-serif;
    padding: 40px 40px 20px 0;
    position: relative;
    width: 80%;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    margin: 0 auto;
    flex-direction: column;


}





.title{
    font-size: 40px;
    font-weight: 700;
    gap: 5px;


}



.data{
    margin: 5px 0 20px 0;
}
.description{
    padding: 1px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.button{
    background-color: #ffffff;
    width: 200px;
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 200;
    border: 2px solid #5e8eec;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        color: rgb(255, 255, 255);
        background-color: #5e8eec; 
      }
}

.images{
    align-items: center;
    margin: 40px auto;
    display: flex;
    width: 100%;

}
.images img {
    width: 100%;
}
