

.bodyWrapper{
    width: 100%;
    display: flex;

}
.wrapper{
    font-family: 'Inter', sans-serif;
    padding: 40px 40px 20px 0;
    position: relative;
    width: 80%;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    @media screen and (max-width: 700px) {
        padding: 20px 0;
        width: 100%;
     }

}


.title{
    font-size: 32px;
    font-weight: 700;
    gap: 5px;
    @media screen and (max-width: 700px) {
        font-size: 22px;
     }

}

.data{
    margin: 5px 0 20px 0;
}
.description{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.button{
    background-color: #ffffff;
    width: 200px;
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 200;
    border: 2px solid #5e8eec;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        color: rgb(255, 255, 255);
        background-color: #5e8eec; 
      }
}

.images{
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    display: flex;
    width: 100%;

}
.images img {
    max-width: 600px;
    width: 100%;
}
