

.bodyWrapper{
    width: 100%;
    display: flex;
    margin: 40px auto;
    @media screen and (max-width: 1230px) {
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.wrapper{
    font-family: 'Inter', sans-serif;
    padding: 40px 0;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    margin: auto;
    flex-direction: column;
    @media screen and (max-width: 1230px) {
        width: auto;
    }
    @media screen and (max-width: 800px) {
        padding: 0;
    }
}

.elements {
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 40px;
    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
}

.element {
    width: 48%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }

}

.Tittle{
    display: flex;
    width: auto;
    padding: 0 0 10px 0;
    font-size: 40px;
    font-weight: 700;
    color: #5382DF;
    gap: 5px;
    margin: auto;
    margin-bottom: 10px;
    border-bottom: 5px solid #5382DF;

    @media screen and (max-width: 1230px) {
        width: 710px;
    }

    @media screen and (max-width: 830px) {
        width: 450px;
        font-size: 32px;
    }

    @media screen and (max-width: 530px) {
        width: auto;
        font-size: 24px;
    }

}

.elTittle{
    font-weight: 600;
    font-size: 22px;
    color: #5382DF;

}
.tick{
    width: 10%;
    margin: auto;
    padding: 0 20px 0 0;
}

.elText{
    width: 85%;
}

.tick img{
    width: 100%;
}
