
.wrapper {
  background: url("../../../../public/images/Main/backgorund_city.png") no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Для создания parallax-эффекта */
  height: 25vh; /* Занимает всю высоту окна браузера */
  font-family: 'inter', sans-serif;
  color: white;
}

.bodywrapper{
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 960px) {
    flex-direction: column;
    width: auto;
    margin: 0 auto;
  }
  @media screen and (max-width: 670px) {
    flex-direction: column;
    margin: auto;
  }
}

.inner{
  margin: auto;
  padding: 40px;
  text-align: center;
  @media screen and (max-width: 1434px) {
    font-size: 14px;
  }
  @media screen and (max-width: 960px) {
    width: auto;
    padding: 15px;
  }


  
}

.number{
  padding: 10px;
  font-size: 40px;
  font-weight: 800;
  @media screen and (max-width: 1434px) {
    font-size: 32px;
  }
}





