.wrapper {
  font-family: 'Inter', sans-serif;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.faqContainer {
  width: 100%;
}



.title {
  width: 90px;
  font-size: 40px;
  font-weight: 700;
  color: #5382DF;
  gap: 5px;
  margin-bottom: 20px;
  border-bottom: 5px solid #5382DF;
  
  @media screen and (max-width: 445px) {
      font-size: 24px;
      width: 50px;
  }
}


.faq {
  display: grid;
  font-size: 21px;
  font-weight: 500;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  @media screen and (max-width: 1665px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 1105px) {
    grid-template-columns: 1fr;
  }
}


.padd {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Добавляем тень: смещение по горизонтали, смещение по вертикали, размытие, цвет */
  width: 500px;
  @media screen and (max-width: 600px) {
   width: 400px
  }
  @media screen and (max-width: 500px) {
    width: 350px
   }
}