.background{
    background: url("../../../../public/images/Main/backofabout.png") no-repeat;
    background-size: cover; /* Подгонка изображения по размеру */
    background-position: center; /* Позиционирование изображения по центру */
}
.bodyWrapper {
    width: 100%;
    display: flex;
    padding: 50px 0;
    opacity: 0;
    transform: translateY(70px);
    @media screen and (max-width: 1230px) {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.bodyWrapperShow{
    
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);

}
.wrapper{
    font-family: 'Inter', sans-serif;
    padding: 40px 0 20px 0;
    position: relative;
    width: 40%;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    @media screen and (max-width: 1230px) {
        width: auto;
    }
}


.title{
    width: 390px;
    font-size: 40px;
    font-weight: 700;
    color: #5382DF;
    gap: 5px;
    margin-bottom: 20px;
    border-bottom: 5px solid #5382DF;
    @media screen and (max-width: 455px) {
        font-size: 24px;
        width: 230px;
    }

}

.subtitle{
    font-size: 16px;
    padding: 10px 0;
}


.description{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.button{
    background-color: #5382DF;
    width: 200px;
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    color: white;
    font-size: 24px;
    font-weight: 200;
    border: 2px solid #5382DF;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: #5e8eec; 
      }
}

.images{
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    display: flex;

}


.images img {
    width: 650px; 
    height: auto;
    @media screen and (max-width: 1520px) {
        width: 550px;
    } 

    @media screen and (max-width: 580px) {
        padding: 20px 0;
    } 
}
