

.wrapper{
    font-family: 'Inter', sans-serif;
    padding: 40px 0 20px 0;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    width: auto;
    @media screen and (max-width: 960px) {
        flex-direction: column;
    }
}


.image{
    padding: 0 80px;
    width: 50%;

    @media screen and (max-width: 1350px) {
        width: auto;
    }
    @media screen and (max-width: 700px) {
        padding: 0;
    }
}

.info{
    margin: 0 auto;
    width: 50%;
    @media screen and (max-width: 960px) {
        padding: 0 0 30px 0;
        width: auto;
    }
}


.tittle{
    display: inline-block;
    color: #5382DF;
    font-size: 40px;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 5px solid #5382DF;
    @media screen and (max-width: 1075px) {
        font-size: 32px;
    }
    @media screen and (max-width: 460px) {
        font-size: 32px;
    }
    
}

.subtittle{
    padding: 10px 0 20px 0;
    width: 70%;
}

.button{
    background-color: #5382DF;
    width: 200px;
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    color: white;
    font-size: 24px;
    font-weight: 200;
    border: 2px solid #5382DF;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: #5e8eec; 
      }
}