

.bodyWrapper{
    width: 100%;
    display: flex;
    @media screen and (max-width: 1230px) {
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.wrapper{
    font-family: 'Inter', sans-serif;
    padding: 40px 0 20px 0;
    position: relative;
    width: 40%;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    @media screen and (max-width: 1230px) {
        width: auto;
    }
}





.title{
    width: 290px;
    font-size: 40px;
    font-weight: 700;
    color: #5382DF;
    gap: 5px;
    margin-bottom: 20px;
    border-bottom: 5px solid #5382DF;
    @media screen and (max-width: 445px) {
        font-size: 24px;
        width: 230px;
    }

}




.description{
    padding: 1px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.button{
    margin: 20px 0;
    padding: 20px;
    width: 170px;
    font-size: 24px;
    color: white; 
    font-weight: 200;
    background-color: #5382DF;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: #5d93ff;
    }
}

.images{
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    display: flex;

}


.images img {
    width: 650px; 
    height: auto;
    @media screen and (max-width: 1520px) {
        width: 550px;
    } 

    @media screen and (max-width: 580px) {
        padding: 20px 0;
    } 
}
